@font-face {
  font-family: Poppins-Black;
  src: url(C:\Users\Wilfred\my-react-app\src\Font);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Poppins-Regular;
  src: url(C:\Users\Wilfred\my-react-app\src\Font);
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Poppins-Bold;
  src: url(C:\Users\Wilfred\my-react-app\src\Font);
  font-weight: 800;
  font-style: Bold;
}

body {
  font-family: "Poppins", serif;
}
